# Node.js / Express.js
node_modules/
dist/
*.log

# Firebase
serviceAccountKey.json

# IDE/Editor specific
.vscode/
.idea/
*.code-workspace
*.iml

# Operating System specific
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
*.tmp
*.bak
*.swp
*.out
*.pid

# Visual Studio Code specific
.history/

# Project specific
/app.js
